---
site_config:
  cron_apt:
    hour: "4"
#  elastic:
#    server: "elasticsearch"
#    storage_nfs: "10.100.200.3:/server/services/elasticsearch"
  git:
#    key_file: "/home/mnt/.ssh/id_github"
  grafana:
    url: "https://monitor.himor.in/grafana/"
    db:
      host: "localhost"
      name: "grafana"
  httpd:
    sites_git: "git@github.com:himorin/serverconfig"
#  influxdb:
#    storage_nfs: "10.100.200.3:/server/services/influxdb"
  l2tp:
    local: "192.168.129"
  ldap:
    uri: "ldap://ldap.himor.in/"
    base: "dc=shell,dc=himor,dc=in"
  localnet:
    - host: ch04
      addr: 133.130.89.191
    - host: ch07
      addr: 150.95.148.135
    - host: ch08
      addr: 150.95.201.108
    - host: ch09
      addr: 133.130.98.70
    - host: cvps
      addr: 158.199.140.49
    - host: altus01
      addr: 153.122.65.123
    - host: ch12
      addr: 192.168.91.145
  mail:
    notice_from: "root@himor.in"
    notice_name: "himor.in System"
    smarthost: "smarthost.himor.in"
  mysql:
    data_directory: "/services/mysql/"
  nfs:
    common:
#      - source: "10.100.200.4:/data1"
#        target: "/data1"
#      - source: "10.100.200.3:/server/home"
#        target: "/home"
#    v3export_access: "10.100.200.0/23(rw,sync,no_subtree_check,no_root_squash)"
  ntp: 
    upstream: "ntp.jst.mfeed.ad.jp"
#  postfix:
#    tls: 
#      use: False
#      cert_file: ""
#      key_file: ""
#      CAfile: ""
#    myhostname: "pfs.ipmu.jp"
#    localnet: "10.100.200.0/23"
#  postgres:
#    connect_from: "10.100.200.0/23"
#    data_directory: "/services/postgresql/"
#    postgres_conf:
#      - label: log_min_messages
#        value: warning
#      - label: syslog_facility
#        value: LOCAL0
#      - label: log_destination
#        value: syslog
  prometheus:
    server: "prometheus"
    external_url: "https://monitor.himor.in/prometheus/"
    route_prefix: "/prometheus/"
    log_format: "logger:syslog?appname=prometheus&local=7"
#    storage_nfs: "10.100.200.3:/server/services/prometheus"
  prometheus_exporter:
    mysql:
      host: "mysql:3306"
#    pgsql:
#      host: "pgsql:5432"
#    es:
#      host: "elasticsearch"
#    jira:
#      host: "localhost"
#  rsyslog:
#    server: "rsyslog.pfs.ipmu.jp"
#    repush: "10.100.200.14:10514;json-template"
#  samba:
#    workgroup: "PFS"
#    address: "10.100.200.0/23 192.168.0.0/16"
#    printer_group: "root, @alls"
#    export:
#      name: "data1"
#      comment: "Data Storage 1"
#      path: "/data1"
  squid:
    cache_mem: "1 GB"
    maximum_object_size_in_memory: "2 MB"
    maximum_object_size: "20 MB"
    cache_dir: "/squid"
    cache_dir_mb: 20000
    syslog: "local1.info"
  system_accounts:
    defuser_groups: "adm,dialout,cdrom,audio,netdev"
    groups:
      - gname: "libvirt-qemu"
        gid: 200
      - gname: "munin"
        gid: 201
      - gname: "kvm"
        gid: 204
      - gname: "prometheus"
        gid: 205
      - gname: "grafana"
        gid: 206
      - gname: "elasticsearch"
        gid: 207
      - gname: "logstash"
        gid: 208
      - gname: "influxdb"
        gid: 209
    users:
      - uname: "libvirt-qemu"
        uid: 200
        home: "/var/lib/libvirt"
        group: "libvirt-qemu"
        groups: "kvm"
      - uname: "munin"
        uid: 201
        home: "/var/lib/munin"
        group: "munin"
      - uname: "prometheus"
        uid: 204
        group: "prometheus"
        home: "/var/lib/prometheus"
        shell: "/bin/false"
      - uname: "grafana"
        uid: 205
        group: "grafana"
        home: "/usr/share/grafana"
        shell: "/bin/false"
      - uname: "elasticsearch"
        uid: 206
        group: "elasticsearch"
        home: "/home/elasticsearch"
        shell: "/bin/false"
      - uname: "logstash"
        uid: 207
        group: "logstash"
        home: "/usr/share/logstash"
        shell: "/usr/sbin/nologin"
      - uname: "influxdb"
        uid: 208
        group: "influxdb"
        home: "/var/lib/influxdb"
        shell: "/bin/false"
#  system_dirs:
#    backup_nfs: "pd2:/server/backup/"
#    backup_dir: "/server/backup/"
#    git_clone: "/usr/local/gitrepo/"
#  virt:
#    nfsdisk: "10.100.200.3:/virt"
#    pki:
#      local: "/virt/pki/"
#      subj: "/C=JP/ST=Chiba/L=Kashiwa/O=PFS"

