---
- name: restart ipmi_exporter
  systemd:
    name: ipmi-exporter.service
    state: restarted
    daemon_reload: yes
    enabled: yes
  become: yes
- name: restart prometheus_mysqld_exporter
  systemd:
    name: prometheus-mysqld-exporter.service
    state: restarted
    daemon_reload: yes
    enabled: yes
  become: yes
- name: restart prometheus_postgres_exporter
  systemd:
    name: prometheus-postgres-exporter.service
    state: restarted
    daemon_reload: yes
    enabled: yes
  become: yes
- name: restart snmp_exporter
  systemd:
    name: snmp_exporter.service
    state: restarted
    daemon_reload: yes
    enabled: yes
  become: yes
- name: restart elasticsearch_exporter
  systemd:
    name: elasticsearch_exporter.service
    state: restarted
    daemon_reload: yes
    enabled: yes
  become: yes
- name: restart hpraid_exporter
  systemd:
    name: hpraid_exporter.service
    state: restarted
    daemon_reload: yes
    enabled: yes
  become: yes
- name: restart prometheus_exporter_sanitizer
  systemd:
    name: prometheus_exporter_sanitizer.service
    state: restarted
    daemon_reload: yes
    enabled: yes
  become: yes
- name: restart nvidia_gpu_prometheus_exporter
  systemd:
    name: nvidia_gpu_prometheus_exporter.service
    state: restarted
    daemon_reload: yes
    enabled: yes
  become: yes

