*mangle
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-F

# ANSIBLE_ROLE_MANGLE_PLACE

COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-F

# ANSIBLE_ROLE_NAT_PLACE

COMMIT

*filter
:INPUT DROP [0:0]
:OUTPUT ACCEPT [0:0]
:FORWARD DROP [0:0]
:LOCAL - [0:0]
:INTERNAL - [0:0]
:DENY - [0:0]

# local defs
-A INPUT -s {{ ansible_default_ipv4.address }} -j LOCAL
-A OUTPUT -s {{ ansible_default_ipv4.address }} -j LOCAL
-A INPUT -i lo -j LOCAL
-A INPUT -s 127.0.0.0/8 -j LOCAL

# internal defs
-A INPUT -s {{ ansible_default_ipv4.address }}/{{ ansible_default_ipv4.netmask }} -j INTERNAL

# VM/KVM
-A FORWARD -m physdev --physdev-is-bridged -j ACCEPT
-A FORWARD -m state --state ESTABLISHED,RELATED -j ACCEPT

# Accept all local network
-A LOCAL -p tcp -m tcp -j ACCEPT
-A LOCAL -p udp -m udp -j ACCEPT
-A INTERNAL -p tcp -m tcp -j ACCEPT
-A INTERNAL -p udp -m udp -j ACCEPT

# Normal defs (just in case) - Established, ICMP, DNS
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -p icmp --icmp-type echo-request -m limit --limit 1/s -j ACCEPT
-A INPUT -p icmp --icmp-type destination-unreachable -j ACCEPT
-A INPUT -p icmp --icmp-type source-quench -j ACCEPT
-A INPUT -p icmp --icmp-type time-exceeded -j ACCEPT
-A INPUT -p icmp --icmp-type parameter-problem -j ACCEPT
-A INPUT -p tcp -m tcp --dport 53 -j ACCEPT
-A INPUT -p udp -m udp --dport 53 -j ACCEPT
-A INPUT -p tcp -m tcp --sport 53 --dport 1024:65535 -j ACCEPT
-A INPUT -p udp -m udp --sport 53 --dport 1024:65535 -j ACCEPT

# ANSIBLE_ROLE_FILTER_PLACE


# REJECT OTHERS
-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A DENY -j REJECT --reject-with icmp-host-prohibited

COMMIT

