---
- name: Create directory
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
  with_items:
    - "/etc/pki/"
    - "/etc/pki/libvirt/"
    - "/etc/pki/CA/"
- name: Mount virt disk image storage
  mount:
    name: /virt
    state: mounted
    src: "{{ site_config.virt.nfsdisk }}"
    fstype: "nfs"
    opts: "nfsvers=3,bg,hard,rw"
  become: yes
  when: virt_image_nomount is undefined
- name: Copy root certificate for private PKI
  become: yes
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - src: "{{ site_config.virt.pki.local }}/cacert.pem"
      dest: "/etc/pki/CA/cacert.pem"

